@charset "utf-8";


*{padding: 0; margin: 0; color: #101010;
	font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif}
a{text-decoration: none;}
body{
	min-width: 1340px;
}
ul,ol{list-style: none;}
html{
	font-size: 10.5px; line-height: 10.5px;
}

/* 헤더 영역 - 검색창, 메뉴 등 */
header{
	width: 1280px; 
	margin: 0 auto; /* 박스 가운데 정렬 */
	position: relative;
	padding: 64px 0 42px;
	height: 156px;
}
/* 햄버거 메뉴 */
#ham_menu{
	position: absolute;  top: 18px; left: -10px;
}
#ham_menu .btn-ham{
	padding: 10px; cursor: pointer;
	background-color: transparent; border: 0; outline: 0;
}
#ham_menu .btn-ham::after{
	content: ''; display: block; background-image: url(../img/naver_icon.png);
	background-size: 422px 405px; /* 원본 이미지 사이즈는 844 810 >> 절반 줄여줌 */
	background-position: -335px -284px;
	width: 26px; height: 26px;
	/* hover  했을 때 회색 타원 아래로 햄버거 메뉴가 깔리는데 그 문제를 해결하기 위해 position relative 사용 */
	position: relative;
}
#ham_menu .btn-ham:hover::before{
	content: ''; display: block; position: absolute; top: 1px; left: 1px;
	width: 44px; height: 44px; border-radius: 50%;
	background-color: #f5f7f8;
}
/* 검색창 영역 */
#box_search{
	width: 706px; position: absolute;
	/* 좌우 가운데 정렬 */
	left: 50%; transform: translateX(-50%);
	border: 1px solid #03c75a;
	border-radius: 33px; top: 64px;
}
#box_search .box-logo{
	float: left; width: 80px;
}
#box_search .box-logo .link-logo{
	display: block; padding-left: 10px; margin-right: 12px; 
}
#box_search .box-logo .link-logo>.img-link-logo{
	width: 58px; height: 58px; display: block;
}
#box_search .box-search-input{
	float: right; width: 623px;
}

/* 검색창 */
#box_search .box-search-input .input-search{
	padding: 17px 0; width: 480px; float: left;
	height: 58px; border: 0; outline: 0;
	box-sizing: border-box; line-height: 24px;
	font-weight: bold; font-size: 24px; color: #000;
}
#box_search .box-search-input .input-search::placeholder{
	color: #cfcfcf;
}
/* 검색버튼 */
#box_search .box-search-input .btn-search{
	padding: 17px 27px 16px 10px; cursor: pointer;
	position: absolute; top: 0; right: 0;
	border: 0; outline: 0; background-color: transparent;
}
#box_search .box-search-input .btn-search .icon-search{
	background-color: #a3691b; display: block;
}
#box_search .box-search-input .btn-search .icon-search::before{
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: -364px -106px;
	width: 25px; height: 25px; content: ''; display: block;
}
/* 가상 키보드와 자동완성 버튼 */
#box_search .box-btns{
	position: absolute; top: 0; right: 61px; bottom: 0px; width: 56px;
}
#box_search .box-btns .btn-kbd{
	padding: 21px 3px; cursor: pointer;
	border: 0; outline: 0; background-color: transparent;
}
#box_search .box-btns .btn-kbd::before{
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: -50px -270px;		
	width: 24px; height: 16px; content: ''; display: block;
}
#box_search .box-btns .btn-kbd:hover::before{
	background-position: -270px -234px;
}

#box_search .box-btns .btn-autocomplete{
	padding: 26px 6px; cursor: pointer; position: absolute;
	right: 1px; top: 0;
	border: 0; outline: 0; background-color: transparent;
}
#box_search .box-btns .btn-autocomplete::before{
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: -412px -352px;
	width: 10px; height: 6px; content: ''; display: block;
}
#box_search:hover{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);
}

/* 바로가기 메뉴 */
.shortcut-area{
	 width: 676px; margin: 72px auto 0;
}
.shortcut-area>.shortcut-list>.shortcut-item{
	float: left;
}
.shortcut-area>.shortcut-list>.shortcut-item+.shortcut-item{
	margin-left: 4px;
}
.shortcut-area>.shortcut-list .link-service{
	position: relative; display: block; width: 64px;
}
.shortcut-area>.shortcut-list .link-service span{
	display: block; position: relative;
}
.shortcut-area>.shortcut-list .link-service .service-icon{
	width: 48px; height: 48px;
	margin: 0 auto;
} 
.shortcut-area>.shortcut-list .link-service .service-icon::before{
	content: ''; display: block; position: absolute;
	top: -2px; left: -3px;
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: 0px -128px;
	width: 54px; height: 54px;
}
.shortcut-area>.shortcut-list .link-service .service-icon::after{
	content: ''; display: block; position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	margin: auto;
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	width: 44px; height: 44px;
}
.shortcut-area>.shortcut-list .link-service:hover .service-icon::before{
	background-position: -142px 0px; top: -3px; left: -5px;
	width: 58px; height: 58px;
}

/* 굳이 따로 뺀 이유 >> 다른 메뉴란을 만들기 용이하게 하기 위해 */
.shortcut-area>.shortcut-list .link-service .service-icon.type-mail::after{
	background-position: -250px -90px;
}
.shortcut-area>.shortcut-list .link-service .service-icon.type-cafe::after{
	background-position: -250px 0px;
}
.shortcut-area>.shortcut-list .link-service .service-icon.type-blog::after{
	background-position: -201px -98px;
}
.shortcut-area>.shortcut-list .link-service .service-icon.type-shopping::after{
	background-position: -90px -209px;
}
.shortcut-area>.shortcut-list .link-service .service-icon.type-news::after{
	background-position: -0px -209px;
}
.shortcut-area>.shortcut-list .link-service .service-icon.type-stock::after{
	background-position: -180px -209px;
}
.shortcut-area>.shortcut-list .link-service .service-icon.type-real::after{
	background-position: -45px -209px;
}
.shortcut-area>.shortcut-list .link-service .service-icon.type-map::after{
	background-position: -201px 0px; width: 48px; height: 48px;
}
.shortcut-area>.shortcut-list .link-service .service-icon.type-toon::after{
	background-position: -225px -209px;
}
.shortcut-area>.shortcut-list .link-service .service-icon.type-more::after{
	background-position: -250px -135px;
}


.shortcut-area>.shortcut-list .link-service .service-name{
	font-size: 14px; line-height: 20px; margin-top: 7px;
	text-align: center;
}

/* 우측 상단 알림 */
.box-notify{
	position: absolute; top: 18px; right: -10px; width: 46px;
}
.box-notify .btn-notify{
	padding: 10px; cursor: pointer; position: relative;
	/* 버튼 기본 속성 제거 */
	background-color: transparent; border: 0; outline: 0;

}
.box-notify .btn-notify::after{
	content: ''; display: block;
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: -364px -27px;
	width: 26px; height: 26px;
	/* hover 했을 때 배경 원이 알림 이미지 위에 가는 것을 막기 위해 relative 추가 */
	position: relative;
}


/* 우측 상단 네이버 페이 */
.box-pay{
	position: absolute; top: 18px; right: 42px;
}
.box-pay .link-pay{
	padding: 10px 8px; cursor: pointer;
	display: block;
}
.box-pay .link-pay::after{
	content: ''; display: block;
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: -31px -316px;
	width: 30px; height: 26px;
	/* hover 했을 때 배경 원이 알림 이미지 위에 가는 것을 막기 위해 relative 추가 */
	position: relative;
}
/* 우측 상단 알림과 페이에 hover하면 원 배경이 생기는 스타일 */
.box-notify .btn-notify:hover::before,
.box-pay .link-pay:hover::before{
	content: ''; display: block; position: absolute; top: 1px; left: 1px;
	width: 44px; height: 44px; border-radius: 50%;
	background-color: #f5f7f8;
}



/* 컨텐츠 영역 */
#container{
	width: 1280px;
	margin: 0 auto; 
}

#container .box-left>div,
#container .box-right>div{
	box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, .04);
	border-radius: 8px;
}
#container> .box-left>div+div,
#container> .box-right>div+div{
	margin-top: 16px;
}



#container .box-left{
	float: left; width: 830px;
}
/* 왼쪽 배너광고 */
#container .box-left .box-banner{
	overflow: hidden; position: relative; height: 130px;
	display: block;
}
#container .box-left .box-banner iframe{
	width: 100%; height: 130px;
}
/* 왼쪽 뉴스스탠드 */
#container .box-left .box-newsstand .box-newsstand-body{
	padding: 18px 20px 0 20px;
}
#container .box-left .tab-list{
	font-size: 1.4rem;
	line-height: 1.7rem;
	letter-spacing: -.4px;
}
#container .box-left  .tab-item{
	float: left; position: relative;
	font-size: 1.6rem; line-height: 23px; font-weight: 800;
}

#container .box-left .box-newsstand .box-newsstand-body .tab-item .btn-press::before{
	content: ''; display: inline-block; width: 4px; height: 4px;
	background-color: #d3d5d7; margin: 9px 7px 0; border-radius: 50%; vertical-align: top;
}
#container .box-left .tab-item +.tab-item{
	padding-left: 26px; color: rgba(8,8,8,.5);
}
#container .box-left  .tab-item +.tab-item::before{
	content: ''; display: block; position: absolute; 
	width: 1px; height: 15px; top: 4px; left: 13px;
	background-color: #d3d5d7;
	transform: skew(-15deg);
}
#container .box-left  .tab-item > a{
	color: rgba(8,8,8,.5);
}
#container .box-left .tab-item > a[aria-selected=true]{
	color: #080808;
}
#container .box-left  .tab-item > a:hover{
	text-decoration: underline;
}
/* 뉴스스탠드 - 서브 헤더 */
#container .box-left .box-newsstand .box-header-sub{
	margin-top: 17px; 
	background-color: #f5f7f8; padding: 12px 20px; border-radius: 4px;
	font-size: 1.4rem; line-height: 26px;  letter-spacing: -.4px;
}
#container .box-left .box-newsstand .box-header-sub .box-sub-left{
	float: left;
}
#container .box-left .box-newsstand .box-header-sub .box-sub-left .btn-morepress{
	display: inline-block; vertical-align: top; text-decoration: none;
	position: relative;
}
#container .box-left .box-newsstand .box-header-sub .box-sub-left .btn-morepress:hover{
	text-decoration: underline;
}
#container .box-left .box-newsstand .box-header-sub .box-sub-left .btn-morepress .icon-tri-down{
	content: ''; display: inline-block;
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: -412px -366px;
	width: 9px; height: 6px;
	margin: 10px 0 0 5px; vertical-align: top;
}

#container .box-left .box-newsstand .box-header-sub .box-sub-left .box-sub-news-preview{
	display: inline-block;
	padding-left: 25px; overflow: hidden; letter-spacing: -.4px;
	height: 26px; 
	position: relative;
}
#container .box-left .box-newsstand .box-header-sub .box-sub-left .box-sub-news-preview ::before,
#container .box-left .box-newsstand .box-header-sub .box-sub-right .link-newshome::before{
	content: ''; position: absolute;
	top: 7px; left: 12px; width: 1px; height: 12px; 
	background-color: #d3d5d7; 
}
#container .box-left .box-newsstand .box-header-sub .box-sub-left .box-sub-news-preview ::after{
	content: ''; display: inline-block; width: 3px; height: 3px; 
	background-color: #d3d5d7; margin: 12px 6px 0 6px; border-radius: 50%; vertical-align: top;
}
#container .box-left .box-newsstand .box-header-sub .box-sub-left .link-preview-news{
	display: block; max-width: 380px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
/* 서브메뉴 - 오른쪽 */
#container .box-left .box-newsstand .box-header-sub .box-sub-right{
	float: right; line-height: 26px;  letter-spacing: -.4px;
}
#container .box-left .box-newsstand .box-header-sub .box-sub-right >a{
	display: inline-block;
}
#container .box-left .box-newsstand .box-header-sub .box-sub-right >a:last-child{
	font-weight: bold;
}
#container .box-left .box-newsstand .box-header-sub .box-sub-right .link-newshome{
	position: relative; padding-left: 25px;
}

/* 뉴스스탠드 메인 */
#container .box-left .box-newsstand .box-main{
	position: relative; margin: 18px 0 18px 0; width: 100%;
}
#container .box-left .box-newsstand .box-main .box-main-table-frame{
	top: 0; left: 0; right: 0; bottom: 0;
	position: absolute;
}
#container .box-left .box-newsstand .box-main .box-main-table-frame .right{
	left: 0; right: 0; height: 1px;
	position: absolute;
	background-color: #ebebeb;
}
#container .box-left .box-newsstand .box-main .box-main-table-frame .bottom{
	top: 0; bottom: 0; width: 1px;
	position: absolute;
	background-color: #ebebeb;
}
#container .box-left .box-newsstand .box-main .box-main-table-frame .right1{
	top: 56px;
}
#container .box-left .box-newsstand .box-main .box-main-table-frame .right2{top: 113px;}
#container .box-left .box-newsstand .box-main .box-main-table-frame .right3{top: 169px;}
#container .box-left .box-newsstand .box-main .box-main-table-frame .bottom1{left: 132px;}
#container .box-left .box-newsstand .box-main .box-main-table-frame .bottom2{left: 263px;}
#container .box-left .box-newsstand .box-main .box-main-table-frame .bottom3{left: 395px;}
#container .box-left .box-newsstand .box-main .box-main-table-frame .bottom4{left: 526px;}
#container .box-left .box-newsstand .box-main .box-main-table-frame .bottom5{left: 657px;}


#container .box-left .box-newsstand .box-main .box-main-table{
	font-size: 1.4rem; line-height: 1.7rem; 
	height: 222px; border: 4px; position: relative; border: 1px solid #ebebeb; border-radius: 4px;
	overflow: hidden;
}
#container .box-left .box-newsstand .box-main .box-main-table .table{
	position: relative;
	float: left; width: 16.66%; height: 56px;
	display: block; padding: 18px 0; text-align: center;
	box-sizing: border-box;
}
#container .box-left .box-newsstand .box-main .box-hover-text{
	background-color: #2868f2; position: absolute;
	text-align: center;
	display: none; padding: 13px 0; box-sizing: border-box;
	top: 0; left: 0; height: 100%; width: 100%; z-index: 10;
}
#container .box-left .box-newsstand .box-main .box-hover-text >a{
	color: white; position: relative; font-size: 1.3rem;  cursor: pointer;
	line-height: 30px;
}
#container .box-left .box-newsstand .box-main .box-hover-text >a+a{
	padding-left: 18px;
}
#container .box-left .box-newsstand .box-main .box-hover-text >a+a::before{
	content: ''; display: inline-block; position: absolute;
  width: 1px; height: 12px; top: 3px; margin: 0 -9px;
	background-color: rgba(255,255,255,0.3); 
}
#container .box-left .box-newsstand .box-main  .box-hover-text >a:hover{
	text-decoration: underline;
	font-weight: bold;
}
#container .box-left .box-newsstand .box-main .box-main-table >.table:hover .box-hover-text{
	display: block;
}
#container .box-left .box-newsstand .box-main .box-main-table .img{
	vertical-align: top; border: 0; height: 20px; overflow-clip-margin: content-box;
	overflow: clip; 
	position: relative;
}

/* 뉴스스탠드 페이지 */
#container .box-left .box-newsstand .box-newsstand-page{
	padding: 10px 0 11px; position: relative;
	border-top: 1px solid #ebebeb; line-height: 34px; text-align: center;
}
#container .box-left .box-newsstand .box-newsstand-page .box-page-right .btn{
	width: 36px; height: 36px; border: 1px solid #dadcdf; background-color: #fff;
	position: relative; display: inline-block; box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
	border-radius: 50%; vertical-align: top; cursor: pointer;
}
#container .box-left .box-newsstand .box-newsstand-page .box-page-right .btn-pre::before{
	content: ''; display: block; position: absolute; margin: auto;
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: -412px -39px;
	width: 10px; height: 12px; top: 0; left: 0; right: 0; bottom: 0;
	transform: rotate(180deg);
}
#container .box-left .box-newsstand .box-newsstand-page .box-page-right .btn-next::before{
	content: ''; display: block; position: absolute; margin: auto;
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: -412px -39px;
	width: 10px; height: 12px; top: 0; left: 0; right: 0; bottom: 0;
}
#container .box-left .box-newsstand .box-newsstand-page .box-page-right .btn:hover{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);
	background-color: #fbfbfc;
	background-position: -412px -26px;
}
#container .box-left .box-newsstand .box-newsstand-page .box-page-right .box-content-page{
	display: inline-block; color: #606060; min-width: 156px; padding: 0 16px; box-sizing: border-box;
	font-size: 1.3rem; line-height: 35px; font-weight: 600; vertical-align: top;
	letter-spacing: -.4px;
}
#container .box-left .box-newsstand .box-newsstand-page .box-page-right .box-content-page .page-more{
	color: #3a67ea;
}
#container .box-left .whole-page{
	color: rgba(96,96,96,.5);
}
#container .box-left .box-newsstand .box-newsstand-page .box-page-left{
	position: absolute; top: 0; right: 0; bottom: 0; float: left;
	
}
#container .box-left .box-newsstand .box-newsstand-page .box-page-left .btn-list{
	position: relative; float: left;
	padding: 18px 10px 18px 20px; background-color: transparent; cursor: pointer;
	border: 0; outline: 0;
}
 #container .box-left .box-newsstand .box-newsstand-page .box-page-left .btn-list::before{
	content: ''; display: block; 
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: -107px -368px;
	width: 20px; height: 20px;
}
#container .box-left .box-newsstand .box-newsstand-page .box-page-left .btn-list:hover::before{
	background-position: -86px -368px;
}
#container .box-left .box-newsstand .box-newsstand-page .box-page-left .btn-thumb{
	position: relative; padding: 18px 20px 18px 9px; background-color: transparent; cursor: pointer;
	border: 0; outline: 0; 
}
#container .box-left .box-newsstand .box-newsstand-page .box-page-left .btn-thumb::before{
	content: ''; display: block; 
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: -391px 0px;
	width: 20px; height: 20px;
}
#container .box-left .box-newsstand .box-newsstand-page .box-page-left .btn-thumb:hover::before{
	background-position: -359px -368px;
}
#container .box-left .box-newsstand .box-newsstand-page::after{
	content: ''; display: block; table-layout: fixed; clear: both;
}

/* 쇼핑박스 */
#container .box-left .box-shopping .box-shopping-body{
	padding: 19px 20px 0 20px;
	position: relative;
}
#container .box-left .box-shopping .box-shopping-body .box-shopping-header{
	padding: 0 0 16px 0;
}
#container .box-left .box-shopping .box-shopping-body .box-shopping-subheader{
	font-size: 1.4rem; line-height: 1.7rem; font-weight: 500; letter-spacing: -.4px;
	position: relative;
}
#container .box-left .box-shopping .box-shopping-body .box-shopping-subheader .box-shopping-sub-left{
	float: left;
	background-color: #f5f7f8; width: 668px; padding: 15px 20px 14px; border-radius: 4px;
	box-sizing: border-box; line-height: 21px; 
}
#container .box-left .box-shopping .box-shopping-body .box-shopping-subheader .today-promotion{
	padding-right: 19px; position: relative; font-weight: 700;
}
#container .box-left .box-shopping .box-shopping-body .box-shopping-subheader .today-promotion::after{
	content: ''; display: block; position: absolute; top: 8px; right: 8px; width: 3px; height: 3px;
	background-color: #d3d5d7; border-radius: 50%;
}
.shop_logo{
	display: inline-block; height: 13px; padding-top: 5px; line-height: 13px; vertical-align: top;
}
.shop_text{
	margin-left: 3px;
}
#container .box-left .box-shopping .box-shopping-body .box-shopping-subheader .box-shopping-sub-right{
	margin-left: 0; padding: 10px 0; display: block; 
}
#container .box-left .box-shopping .box-shopping-body .box-shopping-subheader .box-shopping-sub-right .today-page{
	display: inline-block; padding-left: 25px;
	margin: 6px 9px 8px 0; font-size: 1.3rem; line-height: 16px; font-weight: 600; vertical-align: top;
}
#container .box-left .box-shopping .box-shopping-body .box-shopping-subheader .box-shopping-sub-right .shop-sub-btn{
	display: inline-block; position: absolute; right: 0;
}
#container .box-left .box-shopping .box-shopping-body .box-shopping-subheader .box-shopping-sub-right .shop-sub-btn >button{
	width: 30px; height: 30px; display: inline-block; border: 1px solid rgba(211,213,215,.8);
	vertical-align: top; cursor: pointer; background-color: transparent; 
}
#container .box-left .box-shopping .box-shopping-body .box-shopping-subheader .box-shopping-sub-right .btn-pre{
	border-radius: 4px 0 0 4px; float: left; position: relative; 
}
#container .box-left .box-shopping .box-shopping-body .box-shopping-subheader .box-shopping-sub-right .btn-pre::before{
	content: ''; position: absolute; top: 50%; left: 50%; width: 5px; height: 5px; transform: translate(-50%, -50%) rotate(45deg);
	border-left: 2px solid #80868c; border-bottom: 2px solid #80868c; margin-left: 1px;
}
#container .box-left .box-shopping .box-shopping-body .box-shopping-subheader .box-shopping-sub-right .btn-next{
	border-radius:0 4px 4px 0; border-left: 0; position: relative; 
}
#container .box-left .box-shopping .box-shopping-body .box-shopping-subheader .box-shopping-sub-right .btn-next::before{
	content: ''; position: absolute; top: 50%; left: 50%; width: 5px; height: 5px; transform: translate(-50%, -50%) rotate(45deg);
	border-right: 2px solid #80868c; border-top: 2px solid #80868c; margin-left: -1px;
}

#container .box-left .box-shopping .box-shopping-body .box-shopping-main{
	height: 394px; padding: 18px 0 1px; box-sizing: border-box;
}
#container .box-left .box-shopping .box-shopping-body .box-shopping-main .shopping-main-left{
	width: 520px; position: relative; margin-right: 20px;
}
#container .box-left .box-shopping .box-shopping-body .box-shopping-main .shopping-main-left .table1 .table,
#container .box-left .box-shopping .box-shopping-body .box-shopping-main .shopping-main-left .table2 .table{
	float: left; padding-bottom: 20px;
}
#container .box-left .box-shopping .box-shopping-body .box-shopping-main .shopping-main-left .table1 .table + .table,
#container .box-left .box-shopping .box-shopping-body .box-shopping-main .shopping-main-left .table2 .table + .table{
	 padding: 0 0 20px 20px;
}
#container .box-left .box-shopping .box-shopping-body .box-shopping-main .shopping-main-left .img{
	width: 115px; height: 115px; overflow: hidden; position: relative; display: block; border-radius: 4px;
}
#container .box-left .box-shopping .box-shopping-body .box-shopping-main .shopping-main-left .shop-text{
	overflow: hidden; line-height: 20px; letter-spacing: -.8px; white-space: nowrap;
	font-size: 1.4rem;
}
#container .box-left .box-shopping .box-shopping-body .box-shopping-main .shopping-main-right{
	min-width: 0; display: block; width: 250px; margin-left: auto;
}

/* 각 항목에 내용 보충해줘야함. */
#container .box-left .box-shopping .box-shopping-body .box-shopping-main .shopping-right-top{
	position: relative; padding: 10px 12px 5px; border-radius: 4px; background-color: rgba(245,248,251,.6); 
}
#container .box-left .box-shopping .box-shopping-body .box-shopping-main .shopping-right-mid{
	position: relative;
	margin-top: 11px; padding: 9px 9px 8px; border-radius: 4px; background-color: rgba(245,248,251,.6); 
}
#container .box-left .box-shopping .box-shopping-body .box-shopping-main .shopping-right-bottom{
	display: block; margin-top: 11px;
}
#container .box-left .box-shopping .box-shopping-body .box-shopping-main .shopping-right-bottom img{
	vertical-align: top; border: 0; width: 250px; 
}


#container .box-left .box-shopping .box-shopping-page







#container .box-right{
	float: right; width: 420px;
}

#container .box-right> .box-account{
	padding: 21px 20px 18px;
	letter-spacing: -.4px; font-size: 1.4rem;
}

#container .box-right> .box-account .box-title{
	text-align: center; line-height: 20px;
}
#container .box-right> .box-account .link-login{
	display: block; padding: 17px 0; margin-top: 13px;
	line-height: 20px; border: 1px solid rgba(0,0,0,.06);
	background-color: #03c75a; border-radius: 4px; color: #fff;
	text-align: center;
}
#container .box-right> .box-account .link-login:hover{
	background-color: #17b75e;
}
#container .box-right> .box-account .icon-login{
	display: inline-block;
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: -120px -166px;
	width: 72px; height: 14px;
	margin: 3px 8px 0 0;
	vertical-align: top;
}
#container .box-right> .box-account .box-links{
	margin-top: 16px; font-size: 1.3rem; text-align: center; line-height: 20px; letter-spacing: -.4px;
	
}
#container .box-right> .box-account .box-links>a{
	display: inline-block; color: #606060; vertical-align: top; text-decoration: none;
}
#container .box-right> .box-account .box-links>a+a::before{
	content: ''; display: inline-block; width: 1px; height: 12px; margin: 4px 12px 0; cursor: pointer;
	background-color: #d3d5d7; vertical-align: top;
}

#container .box-right .right-banner{
	width: 420px; height: 240px; margin: 0 auto; position: relative; line-height: 0;
	display: block;
}
#container .box-right .box-happybin{
	padding: 8px 18px; display: block; font-size: 1.4rem; line-height: 1.7rem; letter-spacing: -.4px;
	height: 40px; overflow: hidden;
}
#container .box-right .box-happybin>a{
	text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: block; padding: 8px 0;
	text-decoration: none; cursor: pointer;
}
#container .box-right .box-happybin .icon-happybin{
	color: #606060; position: relative; display: inline-block; min-width: 40px; margin-right: 8px;
	padding: 0 9px; font-size: 1.2rem; font-weight: bold; line-height: 24px; text-align: center;
	vertical-align: top; box-sizing: border-box;
}
#container .box-right .box-happybin .icon-happybin::before{
	content: ''; display: block; position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	border: 1px solid#ebebeb; border-radius: 15px;
}
#container .box-right .box-happybin .icon-happybin:hover + .text-happybin{
	text-decoration: underline;
}
#container .box-right .box-happybin .text-happybin{
	font-weight: bold; line-height: 24px;
}
/* 날씨 */
#container .box-right .-box-weather{
	padding: 0 18px;
}



footer{
	min-width: 1280px; /* 최소 너비로, 브라우저 작을 때는 1280, 클때는 100% */
	background-color: #f5f6f7;

	/* 삭제할 속성 */
	height: 300px;
}

/* 공통 */
fieldset{
	border: 0;
}
.blind{
	position: absolute; width: 1px; height: 1px; margin: -1px;
	overflow: hidden;
}
.clearfix::after{
	content: ''; clear:both; display: block;
}
.hover:hover{
	text-decoration: underline;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.positoin-relative{
	position: relative;
}